{% extends 'base/base.html' %}
{% load static %}
{% block title %} Historial de pedidos {% endblock %}
{% block content %}
    <section class="tablaInfor--ListaP">
        {% if entity %}
            <div class="tablaInfor_container--ListaP flexColumnCenter ">

                {% for i in entity %}
                    {% if i in entity %}
                        <div class="tablaInfor_container-item">
                            <div>
                                {{i.created_at}}
                            </div>
                            <div class="tablaInfor_container-item-second">
                                <div class="item1">
                                    <img src="{{i.producto.imagenes.first.imagen.url}}" class="tablaInfor_container-item--img" alt="...">   
                                    <p>Color: {{i.color}}</p>  
                                    {% if i.talla == "Estandar"  or i.talla == "Talla Unica" %}    

                                    {% else %}
                                        <p>Talla: {{i.talla}}</p> 
                                    {% endif %}
                                    {% if i.estadoPedido == 'Aceptado' %}
                                        <p class="color1">{{i.estadoPedido}}</p>
                                    {% elif i.estadoPedido == 'En proceso' %}
                                        <p class="color2">{{i.estadoPedido}}</p>
                                    {% elif i.estadoPedido == 'En envío' %}
                                        <p class="color3">{{i.estadoPedido}}</p>
                                    {% elif i.estadoPedido == 'Pedido entregado' %}
                                        <p class="color4">{{i.estadoPedido}}</p>
                                    {% elif i.estadoPedido == 'Rechazado' %}
                                        <p class="color5">{{i.estadoPedido}}</p>
                                    {% else %}
                                        <p class="color1">{{i.estadoPedido}}</p>
                                    {% endif %}
                                    
                                    <p>{{i.producto}}</p>
                                    
                                    <p>Cantidad total de este producto: {{i.cantidad}}</p>
                                </div>
                                <div class="orden">
                                    <p>Orden numero: {{i.pedido}}</p>
                                    
                                </div>
                                
                                <a class="btn btn-primary" href="{% url 'tiendaEnLinea:detallePedido' i.pedido_id %}">Ver detalle</a>
                            </div>
                            
                        </div>
                    {% endif %}
                {% endfor %}
                <div>
                    {% include 'paginator.html' %}
                </div>
            </div>
        {% else %}
            <div class="flexColumnCenter tablaInfor_container ">
                <h2>No hay pedidos realizados aún</h2>
            </div>
            
        {% endif %}
        


        
    </section>
{% endblock %}