{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Detalle de pedidos {% endblock %}
{% block content %}

    <section class="tablaInfor--detalleP">
        <div class="tablaInfor_container--detalleP">
            <div class="tablaInfor_container--ListaP--container1">
                {% for i in pedidoD %}
                    <div class="tablaInfor_container-itemDetalle">
                        <div class="tablaInfor_container--titulo">
                            <div>
                                <p>{{i.pedido.producto}}</p>
                                <p>Color: {{i.pedido.color}}</p>
                                <p>Talla: {{i.pedido.talla}}</p>
                                <p>Cantidad: {{i.pedido.cantidad}}</p>
                            </div>
                            <picture class="detalleP__img__container">
                                <img src="{{i.imagen}}" class="tablaInfor_container-item--img" alt="...">
                            </picture>
                        </div>
                        <div>
                            <p>Precio por unidad: <span class="precioUnidad">${{i.pedido.precioUnidad|intcomma}}</span></p>
                            {% if i.pedido.cantidad > 1 %}
                                <p>Subtotal de las {{i.pedido.cantidad}} unidades: <span class="subTotal">${{i.pedido.subTotal|intcomma}}</span></p>
                            {% endif %}

                            {% if i.pedido.estadoPedido == 'Aceptado' %}
                               <p class="color1"> <strong>Estado:</strong>  {{i.pedido.estadoPedido}}</p>
                            {% elif i.pedido.estadoPedido == 'En proceso' %}
                                <p class="color2"><strong>Estado:</strong>  {{i.pedido.estadoPedido}}</p>
                            {% elif i.pedido.estadoPedido == 'En envío' %}
                                <p class="color3"><strong>Estado:</strong>  {{i.pedido.estadoPedido}}</p>
                            {% elif i.pedido.estadoPedido == 'Pedido entregado' %}
                                <p class="color4"><strong>Estado:</strong>  {{i.pedido.estadoPedido}}</p>
                            {% elif i.pedido.estadoPedido == 'Rechazado' %}
                                <p class="color5"><strong>Estado:</strong>  {{i.pedido.estadoPedido}}</p>
                            {% else %}
                                <p class="color1"><strong>Estado:</strong>  {{i.pedido.estadoPedido}}</p>
                            {% endif %}
                            {% if i.pedido.comentariosVendedor != None %}
                                <p>Comentarios vendedor: <br>{{i.pedido.comentariosVendedor}}</p>
                            {% else %}
                            
                            {% endif %}


                        </div>
                    </div>
            {% endfor %}
            </div>

            <div class="tablaInfor_container--ListaP--container2">
                <div class="detallCompra">
                    <h4>Detalle de la compra</h4>
                    <p class="fecha">Realizada el {{fechaCompra}}</p>
                    <p>Con la referencia de pago: {{referencia}}</p>
                    <p>Dirección para el envío:</p>
                    <p>{{direccion}} en {{ciudad}}, <span class="departamento">{{departamento}}.</span></p>
                    {% if comentarios != '' or comentarios != 'None' %}
                    <p>Comentarios: {{comentarios}}</p>
                    {% endif %}
                    <p>Total de la compra: <span class="pedidoF">$ {{pedidoF|intcomma}}</span></p>

                </div>
                
            </div>

        </div>      
    </section>
{% endblock %}