
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Hola {{nombreusuario}}</h3><br>
    <p>Orden de pedido numero: {{pedido.ordernum}}<br>
    Señor@: {{nombreusuario}}, esta es la lista de productos agregados a su compra<br>
    {% for i in lineas_pedido %}
        {% if i in lineas_pedido %}
            {{i}}
        {% endif %}
    {% endfor %}
    </p>
</body>
</html>
