.categoria__section{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}
.categoria__section--nombreCategoria{
    margin: 25px 0 0 40px;
}
.categoria__section--nombreCategoria p{
    font-size: 20px;
}
.flexCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_categoria{
    width: 99px;
    height: 84px;
}

.filtros{
    width: 30%;
}

.listado{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
}

.card{
    max-width: 240px;
    min-width: 240px;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
    margin: 15px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 0.5px solid rgba( 255, 255, 255, 0.18 );
}

.card__picture--container{
    width: 220px;
    height: 178px;
}
.categoria__imagen{
    width:100%;
    height:178px;
    object-fit: contain;

}

.precio{
    display: flex;
    font-size: 25px;
}

.descuento{
    font-size: 15px;
    color: #00a650 ;
    margin-bottom: 0;
}

.marca{
    font-size: 9px;
    font-weight: 300;
    line-height: 1;
}

