
p{
	margin: 0;
	padding: 0;
}

.imagenBannerCategoria{
    width: 100%;
}
.imagenBannerCategoria--item{
    width: 100%;
    object-fit: cover;
}

.detalle_container{
    position: relative;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    margin-top: 80px;

}


.detalle_lista{
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
}

.carouselContainer{
    padding: 0 74px;
}
.carouselContainer--carousel{
    width: 460px;
    background-color: rgb(241 241 241);
    margin-top: 50px;
}
.marca_detalle{
    font-size: 18px;
}
.ancho{
    width: 200px;
}


.precioDetalle{
    font-size: 36px;
}

.relativeCategoria{
    position: relative;
    background-color: #F1F1F1;
    height: 100vh;
}
.abosoluteCategoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 25px;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 80px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 1px 2px 0rgba(0,0,0,.25);
    margin-bottom: 24px;
    min-width: 800px;
    

}






/*********************Carrusel**********************/
.activef{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    justify-content: center; 
}
.colorSection,.radioTalla{
    display: none;
}
.disNone{
    display: none;
}
.containerCarrusel{
    width: 50%;
    position: relative;
}
.mySlides{
    height: 400px;
    width: 100%;

}
.mySlides img{
    width: 100%;
    max-width: 485px;
    object-fit: contain;
    object-position: center;
    height: 400px;
    
}
.prev,
.next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: -22px;

    color: #959595;

    font-size: 18px;
    transition: 0.6 ease;

    user-select: none;
    text-decoration: none;
    
}
.next {
    right: 0;
}
.prev:hover,
.next:hover{
    background-color: rgb(173 173 173 / 80%);
}
.elements{
    display: flex;
    width: 100%;
    gap: 45px 10px;
    padding-top: 42px;
    flex-wrap: wrap;
}
.quadrate{
    margin: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    

}
.quadrate img{
    width: auto;
    height: 100%;

}
.quadrate__container{
    position: relative;
    display: flex;
    justify-content: center;
}
.quadrate--p{
    width: max-content;
    position: absolute;
    top: -40px;
    font-size: 15px;
    padding: 7px;
    background-color: #000000cc;
    text-align: center;
    border-radius: 10px;
    color: white;

}
.disActivP{
    opacity: 1 !important; 
    transform: translatey(0)!important;
    transition: all .6s ease;
}

.disNoneP{
    opacity: 0; 
    transform: translatey(10px);
}
.oculto{
    display: none !important;
}
.visible{
    display: inline;
}
.activeC, .quadrate:hover{
    border: 3px solid var(--dorado);
}

.animation {
    animation-name: movimiento;
    animation-duration: 1.5s;
}

@keyframes movimiento {
    from {transform:translatey(50px);
    opacity: 0.5;}
    to {transform:translatey(0);
    opacity: 1;}
}




@media screen and (max-width:1123px) {
    .containerCarrusel{
        width: 100%;
    }
    .mySlides img{
        height: 300px;
    }

}
@media screen and (max-width:500px) {
    .containerCarrusel{
        width: 100%;
    }
    .prev,
    .next{
        padding: 5px;
    }
}

/*******************************************/












.info_producto,.opinion__container,.otrasopiniones__container{
    margin-top: 40px;
    padding: 25px 5px 0 0; 
    border-top: 1px solid rgba(0,0,0,.1) ;
    width: 60%;
}

/*********************Detalles de colores**********************/
.detalleColor--item{
    font-size: 12px;
}
.detalleColor{
    display: flex;
    flex-wrap: wrap;
}



.Negro{
    background-color: black;
}
.Azul{
    background-color: rgb(0, 89, 255);
}
.Blanco{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(107, 107, 107, 0.733);
}
.Rojo{
    background-color: rgb(255, 6, 6);
}
.Verde{
    background-color: rgb(111, 247, 70);
}
.Gris{
    background-color: rgb(90, 90, 90);
}
.Purpura{
    background-color: purple;
}
.Naranja{
    background-color: rgb(255, 115, 0);
}
.Amarillo{
    background-color: rgb(255, 208, 0);
}
.Rosa{
    background-color: #E84D8B;
}
.Rosa_Claro{
    background-color: rgb(245, 205, 255);
}
.Azul_Claro{
    background-color: rgb(82, 143, 255);
}
.Palo_Rosa{
    background-color: #E6908F;
}
.Marron{
    background-color: #562D0B;
}
.Olivo_Oscuro{
    background-color: #4A4F36;
}
.Multicolor{
    background-color: #ffc9b9;
}

/***********************************************************/
.tallas__container{
    display: flex;
}
.tallas__container--item{
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
}
.tallaActive, .tallas__container--item:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    
}

.stock{
    font-size: .80em;
    color: #77a464;
    padding: 0;
    margin: 0;

}
.opinion{
    display: flex;
}
.opinion textarea{
    padding: 15px;
}


.opinion p{
    width: 60%;
    padding: 0;
    margin: 0;
}
.opinionInput{
    text-align: start;
    width: 100%;
    display: flex;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
}
.opinionButton{
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0 0.25rem  0.25rem 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.otrasopiniones__container--fecha{
    width: 100%;
    color: rgba(0,0,0,.55);
    font-size: 12px;
    text-align: right;
}

.comentarios{
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.9);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    padding: 8px 0 20px 0;

}

.carousel-control-next-icon,.carousel-control-prev-icon{
    filter:invert(30%);
}

@media(max-width:1006px){
.abosoluteCategoria{
    padding: 60px;
}
.detalle_lista{
    flex-direction: column;
}

.categoria__text--detalle{
    width: 100%;
}

.size1{
    text-align: center;
    font-size: 30px;
}

.info_producto, .opinion__container, .otrasopiniones__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 20px 0 20px;
}



}

@media(max-width:819px){
    .abosoluteCategoria{
        min-width: 0;

    }
    .carouselContainer--carousel{
        width: 204px;
    }

    .carousel-item--detalle{
        height: 204px;
    }
}

@media(max-width:607px){
    .carousel-item--detalle{
        height: 150px;
    }
    .carouselContainer--carousel{
        width: 160px;
    }
    .abosoluteCategoria{

        padding: 0px 15px;
    }
}