.index{
	margin-top: 80px;
}

.carouselContainerHome{
	width: 100%;
}

.alto{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img__carrousel{
	object-fit: cover;
	height: 400px;
    width: 100%;
}

.slide{
	position: relative;
}

.finalizada{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(13 110 253 / 25%);
}

@media(max-width:820px){
	.alto{
        height: 245px;
    }
    .img__carrousel{
        height: 245px;
    }
}


@media(max-width:626px){
    .alto{
        height: 154px;
    }
    .img__carrousel{
        height: 154px;
    }

}