{% extends 'base/base.html' %}
{% load static %}
{% block title %} Historial de pedidos {% endblock %}
{% block content %}
    <section class="tablaInfor--ListaP">

            <div class="tablaInfor_container--ListaP flexColumnCenter ">

                {% for i in categoria %}
                <a class="section1__div dorado" href="{% url 'tiendaEnLinea:categorias' i.slug %}">
                    <picture><img src="{{i.imagen.url}}" alt="" class="logo_categoria">
                    </picture>
                    <p class="section1__div__p">{{ i.nombre }}</p>
                </a>
            {% endfor %}
            </div>
        
    </section>
{% endblock %}