{% extends 'base/base.html' %}
{% block title %} Detalle de producto {% endblock %}
{% block content %}
    <section class="detalle_container">
                                                <!--Banner categoría-->
        <div class="imagenBannerCategoria">
            {% if banner != '' %}
                <img class="imagenBannerCategoria--item" src="{{banner.url}}" alt="..S">
            {% else %}

            {% endif %}
        </div>
        <div class="abosoluteCategoria">
            <div class="listado detalle_lista">
                {% for i in productos %}
                    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    {% if messages %}
                        {% for m in messages %}
                        <script>
                            Swal.fire({
                                "title":"{{i}}",
                                "text": "{{m}}",
                                "icon": "{{m.tags}}"
                            })
                        </script>
                    {% endfor %}
                {% endif %}
                                            <!--Carrusel Fotos-->

                <div class="containerCarrusel">
                    {% for m in i.imagenes.all %}
                    <div class="mySlides fade">
                        <img src="{{m.imagen.url}}" alt="imagen-1">
                    </div>
                    {% endfor %}
                    
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
            

                </div>

                                            <!--Detalles articulo-->
                <div class="categoria__text--detalle">
                    <h3 class="bg-2 size1">{{i.nombre}}</h3>
                    <p class="bg-3 marca marca_detalle">Por {{i.marca}}</p>
                    <div class="precio">
                                                <!--Color-->
                            {% if i.imagenes.count > 0 %}
                            <h5>Colores Disponibles:</h5>
                            <div class="elements">
                                {% for n in i.imagenes.all %}
                                    {% if n.colores == 'Negro' %}
                                        <span class="quadrate  Negro" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Azul' %}
                                        <span class="quadrate Azul" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Blanco' %}
                                        <span class="quadrate Blanco" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Rojo' %}
                                        <span class="quadrate Rojo" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Verde' %}
                                        <span class="quadrate Verde" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Gris' %}
                                        <span class="quadrate Gris" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Rosa' %}
                                        <span class="quadrate Rosa" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Purpura' %}
                                        <span class="quadrate Purpura" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Naranja' %}
                                        <span class="quadrate Naranja" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Amarillo' %}
                                        <span class="quadrate Amarillo" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Rosa Claro' %}
                                        <span class="quadrate Rosa_Claro" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Azul Claro' %}
                                        <span class="quadrate Azul_Claro" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Palo Rosa' %}
                                        <span class="quadrate Palo_Rosa" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Marron' %}
                                        <span class="quadrate Marron" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Olivo Oscuro' %}
                                        <span class="quadrate Olivo_Oscuro" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% elif n.colores == 'Multicolor' %}
                                        <span class="quadrate Multicolor" onclick="currentSlide({{forloop.counter}})"></span>
                                    {% endif %}
                                    
                                {% endfor %}
                            </div>

                        {% endif %}
                        <!--Talla-->
                        <div class="tallas">
                            {% if i.tallas.count > 0 %}
                            <h5>Tallas Disponibles:</h5>
                            <div class="tallas__container">
                                {% for o in i.tallas.all %}
                                    <p class="tallas__container--item">{{o.tallas}}</p>
                                {% endfor %}
                            </div>

                        {% endif %}
                        </div>




                        {% load humanize %}
                        {% if i.descuento == 0 %}
                            <h5 class="bg-2 precioDetalle">${{i.precio|intcomma}} </h5>
                            <p class="sinDescuento"></p>
                            <div>
                                <h5 class="bg-2"></h5> 
                                <p class="descuento"></p>
                            </div>    
                        {% else %}
                            <p class="sinDescuento">${{i.PrecioSinDescuento}}</p>
                            <div class="descuento__detalle">
                                <h5 class="bg-2 precioDetalle">${{i.precio|intcomma}} </h5> 
                                <p class="descuento">{{i.descuento}}% OFF</p>
                            </div>
                        {% endif %}
                        <p class="stock">{{i.stock}} disponibles</p>
                        {% if request.user.is_authenticated %}
                            <a class="btn btn-primary ancho" href="{% url 'tiendaEnLinea:agregarDetalle' i.id%}">
                                <i class="fa-sharp fa-solid fa-cart-shopping"></i> Agregar al carrito
                            </a>
                            
                        {% else %}
                            <h3 class="alert alert-info">Inicia sesión para comprar este producto</h3>
                        {% endif %}
                    </div >
                </div>
            </div>                    
            <div class="info_producto">
                <h4>Lo que tienes que saber sobre este producto</h4>
                <p>{{i.descripcion|linebreaks}}</p>
            </div>
                                            <!--Comentarios articulo-->
            {% if request.user.is_authenticated %}
                <div class="opinion__container">
                    <h3>Dejanos tu opinión sobre este producto</h3>
                    <form name= "comments" method="POST" class="opinion" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="opinionButton">Enviar</button>
                    </form>
                </div>
            {% else %}
                <div class="opinion__container">
                    <h3>Inicia sesión para dejar una reseña de este producto</h3>
                </div>
            {% endif %}
            <div class="otrasopiniones__container">
                <h3>Opiniones del producto</h3>
                {% if comentarios %}
                    {% for n in comentarios %}
                        <p class="otrasopiniones__container--fecha">{{n.created_at | date:"d/m/Y"}}</p>
                        <p class="comentarios">{{n}}</p>
                    {% endfor %}
                {% else %}
                        <p>Aun no hay comentarios para este producto, se el primero en comentar</p>  
                {% endif %}
            </div>
                {% endfor %}  
            {% for i in productos %}
                
                    {% empty %}
                <div>
                        <h4>No hay productos en esta categoria</h4>
                </div>
            {% endfor %}  
        </div>
    </section>
{% endblock %}


