{% extends 'base/base.html' %}
{% block title %} Detalle de producto {% endblock %}
{% block content %}
    <section class="detalle_container">
                                                <!--Banner categoría-->
        <div class="imagenBannerCategoria">
            {% if banner != '' %}
                <img class="imagenBannerCategoria--item" src="{{banner.url}}" alt="..S">
            {% else %}

            {% endif %}
        </div>
        <div class="abosoluteCategoria">
            <div class="listado detalle_lista">
                {% for i in productos %}
                    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    {% if messages %}
                        {% for m in messages %}
                        <script>
                            Swal.fire({
                                "title":"{{i}}",
                                "text": "{{m}}",
                                "icon": "{{m.tags}}"
                            })
                        </script>
                    {% endfor %}
                {% endif %}
                                            <!--Carrusel Fotos-->

                <div class="containerCarrusel">
                    {% for m in i.imagenes.all %}
                    <div class="mySlides disNone animation" id="mySlides">
                        <img src="{{m.imagen.url}}" alt="imagen-1">
                    </div>
                    {% endfor %}
                    
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
            

                </div>

                                            <!--Detalles articulo-->
                <div class="categoria__text--detalle">
                    <h3 class="bg-2 size1">{{i.nombre}}</h3>
                    <p class="bg-3 marca marca_detalle">Por {{i.marca}}</p>
                    <form class="precio" id="formualioDetalles" method="post" action="/agregarDetalle/">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{i.id}}">
                                                <!--Color-->
                            {% if i.imagenes.count > 0 %}
                            <h5>Colores Disponibles:</h5>
                            <div class="elements">
                                {% for n in i.imagenes.all %}
                                    {% if n.colores == 'Negro' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                        
                                    {% elif n.colores == 'Azul' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Blanco' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Rojo' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Verde' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Gris' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Rosa' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Purpura' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Naranja' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Amarillo' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Rosa Claro' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Azul Claro' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Palo Rosa' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Marron' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Olivo Oscuro' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% elif n.colores == 'Multicolor' %}
                                        <div class="quadrate__container">
                                            <picture class="quadrate" onmouseover="currentSlideP({{forloop.counter}})" onclick="currentSlide({{forloop.counter}})">
                                                <img  src="{{n.imagen.url}}" alt="imagen-1">
                                                <input class="colorSection" type="radio" name="color" id="" value="{{n.id}}">
                                            </picture>
                                            <p class="quadrate--p disNoneP">{{n.colores}}</p>    
                                        </div>
                                        
                                    {% endif %}
                                    
                                {% endfor %}
                            </div>
                        {% endif %}
                        <!--Talla-->
                        <div class="tallas">
                            <h5>Tallas Disponibles:</h5>
                            <div class="tallas__container">
                                {% for o in i.tallas.all %}
                                {% if o.tallas == 'Talla Unica' %}
                                <p class="bg-3 marca marca_detalle">{{o.tallas}}</p>
                                    <input type="radio" class="radioTalla" name="talla" value="{{o.tallas}}">
                                {% else %}
                                    <p class="tallas__container--item" onclick="currentSlideT({{forloop.counter}})">{{o.tallas}}</p>
                                    <input type="radio" class="radioTalla" name="talla" id="" value="{{o.tallas}}">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>




                        {% load humanize %}
                        {% if i.descuento == 0 %}
                            <h5 class="bg-2 precioDetalle">${{i.precio|intcomma}} </h5>
                            <p class="sinDescuento"></p>
                            <div>
                                <h5 class="bg-2"></h5> 
                                <p class="descuento"></p>
                            </div>    
                        {% else %}
                            <p class="sinDescuento">${{i.PrecioSinDescuento}}</p>
                            <div class="descuento__detalle">
                                <h5 class="bg-2 precioDetalle">${{i.precio|intcomma}} </h5> 
                                <p class="descuento">{{i.descuento}}% OFF</p>
                            </div>
                        {% endif %}
                        <p class="stock">{{i.stock_total}} disponibles</p>
                        {% if request.user.is_authenticated %}







                        <button class="btn btn-primary ancho" type="submit">
                            <i class="fa-sharp fa-solid fa-cart-shopping"></i> Agregar al carrito
                        </button>

                        {% else %}
                            <h3 class="alert alert-info">Inicia sesión para comprar este producto</h3>
                        {% endif %}
                    </form >
                </div>
            </div>                    
            <div class="info_producto">
                <h4>Lo que tienes que saber sobre este producto</h4>
                <p>{{i.descripcion|linebreaks}}</p>
            </div>
                                            <!--Comentarios articulo-->
            {% if request.user.is_authenticated %}
                <div class="opinion__container">
                    <h3>Dejanos tu opinión sobre este producto</h3>
                    <form name= "comments" method="POST" class="opinion" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="opinionButton">Enviar</button>
                    </form>
                </div>
            {% else %}
                <div class="opinion__container">
                    <h3>Inicia sesión para dejar una reseña de este producto</h3>
                </div>
            {% endif %}
            <div class="otrasopiniones__container">
                <h3>Opiniones del producto</h3>
                {% if comentarios %}
                    {% for n in comentarios %}
                        <p class="otrasopiniones__container--fecha">{{n.created_at | date:"d/m/Y"}}</p>
                        <p class="comentarios">{{n}}</p>
                    {% endfor %}
                {% else %}
                        <p>Aun no hay comentarios para este producto, se el primero en comentar</p>  
                {% endif %}
            </div>
                {% endfor %}  
            {% for i in productos %}
                
                    {% empty %}
                <div>
                        <h4>No hay productos en esta categoria</h4>
                </div>
            {% endfor %}  
        </div>
    </section>
{% endblock %}


