{% extends 'base/base.html' %}
{% load static %}
{% block title %} listado de productos {% endblock %}
{% block content %}
    <section class="categoria__section">
        <div class="categoria__section--nombreCategoria">
            <p>Estas en {{nombreCat}}</p>
        </div>
        <div class="listado">
            {% for i in productos %}
            <div class="card">
                <a href="{% url 'tiendaEnLinea:detail' i.id %}">
                    <picture class="card__picture--container">
                        <img class="categoria__imagen" src="{{i.imagenes.first.imagen.url}}" alt="imagen">
                    </picture>
                    
                    <div class="categoria__text">
                        <h5 class="bg-3 marca">Por {{i.marca}}</h5>
                        <p class="bg-2">{{i.nombre}}</p>
                        <div class="precio">
                            {% load humanize %}
                            {% if i.descuento == 0 %}
                            <h5 class="bg-2">${{i.precio|intcomma}} </h5>
                            <p class="sinDescuento"></p>
                            <div>
                                <h5 class="bg-2"></h5> 
                                <p class="descuento"></p>
                            </div>    
                            {% else %}
                            <p class="sinDescuento">${{i.PrecioSinDescuento}}</p>
                            <div class="descuento__detalle">
                                <h5 class="bg-2">${{i.precio|intcomma}} </h5> 
                                <p class="descuento">{{i.descuento}}% OFF</p>
                            </div>
                            
                            {% endif %}
                            
                        </div >
                    </div>
                </div>
                </a>
            {% endfor %}  
            {% for i in productos %}
            <div>
                {% empty %}
                <h4>No hay productos en esta categoria</h4>
            </div>
            {% endfor %}  







        </div>

    </section>
{% endblock %}


