{% load static %}
{% load humanize %}
<div class="nav_container">
    <a href="{% url 'tiendaEnLinea:index'%}" class="logo_nav_container">
        <picture>
            <img src="{% static 'img/Logo/logo.png' %}" class="logo_nav" alt="">
        </picture>
    </a>
    <form class="container__buscador " action="{% url 'tiendaEnLinea:search' %}">
        {% csrf_token %}
        <input class="buscador" type="search" name="busqueda" placeholder="Buscar en Romofyi">
        <button class="boton_buscar" type="submit">Buscar</button>
    </form>
    <button class="nav_toggle" aria-label="Abrir Menú">
        <i class="fa-solid fa-bars"></i>
    </button>
            <!-- Menu -->
    <ul class="nav-menu .nav-menu_visible">
        <li	li class="nav-menu-item">
            <a href="{% url 'tiendaEnLinea:index'%}" class="nav-menu-link nav-links nav-menu-link_active">Home</a>
        </li>
        <li class="nav-menu-item dropdown hidden-movil">
            <a href="#" class="nav-menu-link nav-links ">Categorias</a>
            <div class="dropdown-content">
                {% for i in categoria %}
                <a class="cerrarSesion" href="{% url 'tiendaEnLinea:categorias' i.slug %}">{{ i.nombre }}</a>
            {% endfor %}
            </div>
        </li>
        <li class="nav-menu-item hidden-escritorio">
            <a class="nav-menu-link nav-links" href="{% url 'tiendaEnLinea:categoriasDisponibles' %}">Categorias</a>
        </li>
        <li class="nav-menu-item">
            <a href="#" class="nav-menu-link nav-links ">Promociones</a>
        </li>
            <!--Si el usuario tiene sesión iniciada-->
        {% if request.user.is_authenticated %}
            <li class="nav-menu-item dropdown hidden-movil">
                <a href="{% url 'tiendaEnLinea:ModificarPerfil' %}" class="nav-menu-link nav-links usuario">{{user.perfilusuario.nombre1}} {{user.perfilusuario.primerApellido}}</a>       
                <div class="dropdown-content">
                    <a class="cerrarSesion" href="{% url 'tiendaEnLinea:ModificarPerfil' %}">Perfil</a>
                    <a class="cerrarSesion" href="{% url 'tiendaEnLinea:listaPedidosUsuario' %}">Pedidos</a>
                    <a class="cerrarSesion" href="{% url 'tiendaEnLinea:logout' %}">Salir</a>
                </div>
            </li>
            <li class="nav-menu-item hidden-escritorio">
                <a class="nav-menu-link nav-links" href="{% url 'tiendaEnLinea:ModificarPerfil' %}">{{user.perfilusuario.nombre1}} {{user.perfilusuario.primerApellido}}</a>
            </li>
            <li class="nav-menu-item hidden-escritorio">
                <a class="nav-menu-link nav-links" href="{% url 'tiendaEnLinea:listaPedidosUsuario' %}">Pedidos</a>
            </li>
            <li class="nav-menu-item hidden-escritorio">
                <a class="nav-menu-link nav-links" href="{% url 'tiendaEnLinea:logout' %}">Salir</a>
            </li>
            <li class="nav-menu-item bag">
                {% if request.session.carro.items %}
                    <a  class="padding nav-links " href="{% url 'tiendaEnLinea:mycart' %}" > <i class="bi bi-cart2 tamanho"></i><p id="totalCarro">{{importe_CantTotal_carro|intcomma}}</p> </a>
                {% else %}
                    <a  class="padding nav-links " href="{% url 'tiendaEnLinea:mycart' %}" > <i class="bi bi-cart2 tamanho"></i><p id="totalCarro">0</p> </a>
                {% endif %}
            </li>    
            <!--El usuario no a iniciado sesión-->
        {% else %}
            <li class="nav-menu-item">
                <a href="{% url 'tiendaEnLinea:login' %}" class="nav-menu-link nav-links ">Identificate</a>
            </li>
        {% endif %}
    </ul> 
</div>
